ErrorDocument 404 /pagenotfound.php
Redirect /index.php /index.php#magyar_dialogikus_iskola

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
