*, *::before, *::after
{
  box-sizing:inherit;
  -webkit-box-sizing:inherit;
  -moz-box-sizing:inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

*
{
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}

html {

}

body,html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 80%;
  zoom:1;
  line-height: 2.6rem;
  /* overflow-y: hidden; */
  /* overflow-x:auto; */

}

h1,h2,h3,h4,h5,h6
{
  padding: 0px;
  margin: 0px;
}

 h1
{
  font-size:3rem;

}


h2
{
  font-size:3rem;
}
h3
{
  font-size: 2.5rem;
}
p
{
  font-size:2rem;
  margin:0;
  line-height: 2rem;
}

/************       TOP NAVIGATION  START     ********************/


/* POSITION AND STYLE THE NAVBAR */
/* .top
{
  background-image: url(kepek/hatter/hatter_top.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position:center;
  background:black;
} */

.topnav
{
  position:fixed;
  display:flex;
  -webkit-display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  float:right;
  width: 100%;
  background:rgba(218,183,95,0.8);
  /* background-color:white; */
  justify-content: center;
  align-items: flex-start;
  color:#3e2200;
  z-index:999;
  height:60px;
  top:0;
}

/* POSITION AND STYLE THE NAVBAR LINKS */
.topnav a
{
  display: flex;
  position:relative;
  color:#3e2200;
  padding: 5px 18px 0px 0px;
  text-decoration: none;
  font-size: 1.8rem;
  text-shadow: 1px 1px 1px rgba(90,51,16,0.3);
  /* background:#c1c1c1; */
  background-color: rgba(0,0,0,0);
  justify-content: center;
  align-items: center;
}

/* ADD A BORDER TO LINKS ON HOVER */
.topnav:hover .dropdown-content a
{
  padding-bottom: 10px;
  line-height: 1.7rem;
}

.topnav::after
{
  content:'';
  display:block;
  position:absolute;
  width:100%;
  top: 5px;
  left:10px;
  border-bottom: 20px;
  border-collapse: separate;
}

/* ADD A COLOR TO THE ACTIVE/CURRENT LINK */
.topnav a.active
{
  background-color: rgba(0,0,0,0);
}

/************       DROPDOWN MENU  START        ********************/
.tovabbi_szerzok
{
  pointer-events: none;
}

/* Dropdown Button */
.dropdown
{
  position: relative;
  display: inline-block;
  color: #3e2200;
}

.dropdown::after
{
  border-bottom:2px solid red;
}


.dropdown button
{
  background-color: rgba(0,0,0,0);
  height:100%;
  border:0px;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 12px 10px;
  pointer-events:all;
  color: #3e2200;
  /* width:auto; */
}

.dropdown span
{
  min-width:150px;
}

.dropdown:hover button
{
  color: #3e2200;
}

.dropdown button::after
{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #3e2200;
  top: 34px;
  right: 14px;
  /* transition-property: border, right;
  transition-duration: 1000ms; */
}


/* .dropdown:nth-child(5) button::after
{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #3e2200;
  top: 36px;
  right: -3px;
  /* transition-property: border, right;
  transition-duration: 1000ms; */
} */

.language_selector
{
  font-size:1.7rem;
  color: #3e2200;
  padding: 0px 0px 2px 0px;
  text-decoration: none;
  display:block;
  margin-right:50px;
}

.language_selector::after
{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #3e2200;
  top: 27px;
  right: 12px;
  right: 200px;
  /* transition-property: border, right;
  transition-duration: 1000ms; */
}

.dropdown:hover button::after
{
  /* border: 6px solid transparent;
  right:8px;
  opacity:1; */
}

/* DROPDOWN CONTENT (HIDDEN BY DEFAULT) */
.dropdown-content
{
  display: none;
  min-width: 100%;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align:center;
  justify-content: center;

}

/* POSITION AND STYLE OF DROPDOWN LINKS */
.dropdown-content a
{
  font-size:1.7rem;
  color: #3e2200;
  padding: 0px 0px 2px 0px;
  text-decoration: none;
  display:block;
}


/* POSITION THE DROPDOWN CONTENT DOWNWARDS */
.dropdown:hover .dropdown-content
{
  display:block;
}


/* CHANGE THE COLOR OF LINKS ON HOVER */
.dropdown-content a:hover
{
  background-color: #ddd;
  border:none;
}





/************       DROPDOWN MENU   END       ********************/

/* STYLE THE SEARCH BAR */
.search_bar
{
  font-family: 'Crimson Text', sans-serif;
  font-size: 1.4rem;
  margin: 10px 20px;
  box-shadow: 3px 5px 5px #888888;
  min-width:125px;
  max-height:50px;
}




/* LANGUAGE SELECTION */


.language_flag
{
  display:block;
  align-items: center;
  justify-content: center;
  width:40px;
  height:40px;
  margin-top:15px;
}

/************       TOP NAVIGATION END       ********************/


/************** Page_container START **************/

.page_container
{
  display:flex;
  position:fixed;
  top:0;
  left:0;
  width:100%;
}

section
{
  display:block;
  min-width: 100%;
  height:auto;
}

/************** Page_container END **************/

/*   DIALOGIKUS ISKOLA CÍM       */

.first_page
{
  /* background-image: url(kepek/hatter.jpg); */
  background-repeat: no-repeat, no-repeat;
  background-position:left;
  background-color: #ecdcbb;
  /* background-blend-mode: lighten; */

   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0px;
  margin:0px;
  /* background-attachment:fixed; */
  /* background-position: top; */
  /* background-repeat:  */
  /* scroll-behavior: smooth; */
  width:100%;
}

.title
{
  font-family: 'Playfair Display', serif;
  display: block;
  text-align: center;
  position:relative;
  top:100px;
  margin:0 auto;
  word-spacing: 5px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2), 2px 2px 2px rgba(0,0,0,0.15), 2px 2px 3px rgba(0,0,0,0.1);
  /* z-index:1; */
}

.tarek
{
  font-family: 'Playfair Display', serif;
  position:relative;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  font-size: 3em;
  text-align:center;
  margin-bottom:200px;
  /* z-index:1; */
  transform:skewX(-5deg);
}

/************       SZL,TB KÉPEK START      ********************/
/* .alapitok_container
{
  display:block;
} */

.szl_tb_container
{
  display:flex;
  flex-wrap:wrap;
  flex-grow: 1;
  justify-content:space-around;
  height:100vh;
  align-items:flex-start;
}



.szl_image_wrapper
{
  display:block;
  height:350px;
  width:278px;
}

.szl_image_wrapper img
{
  height:350px;
  width:278px;
}

.szl_image_wrapper p
{
  /* font-family: 'Crimson Text',sans-serif; */
  display:none;
  line-height: 2.0rem;
}

.szl_portre
{
  float:left;
  height:inherit;
  width:auto;
}



.szl_idezet
{
  position: relative;
  max-width: 310px;
}

.tb_portre
{
  float:right;
  height:inherit;
  width:auto;
}

.tb_idezet
{
  position: relative;
  max-width: 310px;
}

.tb_image_wrapper
{
  display:block;
  height:350px;
  width:278px;
}

.tb_image_wrapper img
{
  height:350px;
  width:278px;
}

.tb_image_wrapper p
{
  display:none;
  line-height: 2.0rem;
}


.person_name
{
  font-family: 'Crimson Text', serif;
  display:block;
  text-align: center;
  margin-bottom:0px;
  font-size:2.5rem;
}

.person_title
{
  font-family: 'Crimson Text', serif;
  display:block;
  text-align:center;
  margin-bottom:10px;
}


/************       SZL,TB KÉPEK   END       ********************/



/****************     second_page VÁDIRAT START         ********************/


.second_page
{
  display:flex;
  flex-wrap: wrap;
  flex-grow:1;
  /* justify-content: space-between; */
  padding: 0px 10%;
  background-size:cover;
  background-color: #f1d4a9;

}

.second_page h1
{
  margin:0 auto;
  font-family: 'Playfair Display', serif;
  display: block;
  text-align: center;
  position:relative;
  top:100px;
  word-spacing: 5px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2), 2px 2px 2px rgba(0,0,0,0.15), 2px 2px 3px rgba(0,0,0,0.1);
}

.vadirat_wrapper p:nth-of-type(1)
{
  margin-bottom:50px;
}

.vadirat_wrapper img
{
  margin:10px;
  float:left;
  height:60vh;
  width:auto;

}

/* .vadirat_wrap1
{
  display:block;
  background: rgba(248,213,122,0.3);
  width:33%;
  float:left;
  border: 2px solid rgba(206,160,107,0.2);
  border-radius:10px;
  line-height: 3rem;
}


.vadirat_wrap2
{
display:block;
background: #f8d57a;
width:41%;
float:right;
border: 2px solid rgba(206,160,107,0.2);
border-radius:10px;
line-height: 3rem;
}



.vadirat_wrap p
{
  font-size:1.6rem;
}



.vadirat_wrap1 img
{
  float:right;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px 5px;
}

.vadirat_wrap2 img
{
  float:left;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px 5px;
} */



/****************      VÁDIRAT END        ********************/

/************     third_page  Alapállás START ******************************/

.pages
{
  background:#ecdcbb;
  /* border-right: 2px solid white; */
}

/* .pages::after
{
  content:'';
  background:white;
  position: absolute;
  bottom:0px;
  right:0px;
  height:calc(100% - 60px);
  width:2px;
} */

.pages:not(.sixth_page)
{
  border-right: 2px solid white;
}
/* .third_page::before
{
  content:'';
  background:white;
  position: absolute;
  bottom:0px;
  right:0px;
  height:calc(100% - 60px);
  width:2px;
} */

.third_page
{
  display:block;
  padding: 0px 10%;
}

.third_page_container
{
  margin: 0 auto;
  display:flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.third_page h1
{
  margin:100px auto;
  text-align: center;
}

.third_page p:nth-child(1)
{
  margin-bottom: 50px;
}

/************       third_page  Alapállás END ***********************************/




/************     fourth_page  Történet START ******************************/

.fourth_page
{
  display:flex;
  flex-wrap: wrap;
  flex-grow:1;
  justify-content: space-between;
  padding: 0px 10%;
}

.fourth_page h1
{
  margin:100px auto;
}

/************       fourth_page Történet END ***********************************/





/************     fifth_page  A Harmincas évek írásai START ******************************/

.fifth_page
{
  display:flex;
  flex-wrap: wrap;
  flex-grow:1;
  justify-content: space-between;
  padding: 0px 10%;
}

.fifth_page h1
{
  margin:100px auto;
}

/************       fifth_page  A Harmincas évek írásai END ***********************************/




/************     sixth_page  A Harmincas évek írásai START ******************************/

.sixth_page
{
  display:flex;
  flex-wrap: wrap;
  flex-grow:1;
  justify-content: space-between;
  padding: 0px 10%;
}

.sixth_page h1
{
  margin:100px auto;
}

/************       sixth_page  A Harmincas évek írásai END ***********************************/





/* MEDIA QUERIES */

/* @media screen and (max-width:1176px) {

  .topnav
  {
    display:none;
    align-items: center;
  }

} */

@media (min-width:350px) and (max-width:784px)

{
  .szl_image_wrapper
  {
    margin-right:0%;
    margin-bottom: 150px;
  }
}

@media (min-width:350px) and (max-width:1210px)
{
  .language_selector
  {
    display:none;
  }
  .language_flag
  {
    display:none;
  }
}
