/* TABLE STYLES */
.main-content .formtable{
  border-collapse:collapse;
  border: 0px solid #345D97;
  background:#FFFFFF;
  padding: 5px;
  margin:0px;
}

.formtable th {
  border-collapse:collapse;
  border-bottom: 1px solid #345D97;
  font: bold 16px;
  color: #ba1c1c;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: left;
  background-color: #FFFFFF;
  padding: 5px;
}

.formtable td {
  border-collapse:collapse;
  border: 0px solid #345D97;
  color: #4b5460;
  padding: 5px;
  text-align: left;
}

.formtable td p{
  border: 0px solid #345D97;
  color: #4b5460;
  text-align: left;
}

.formtable input[type="text"],
.formtable input[type="email"],
.formtable input[type="url"],
.formtable input[type="number"],
.formtable input[type="tel"],
.formtable input[type="date"],
.formtable input[type="file"],
.formtable input[type="password"],
.formtable select {
  margin: 5px 0;
  padding: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.main-content .formtable label,
.main-content .formtable td label{
  display: inline;
}

.listtable {
  border-collapse:collapse;
  border:none;
  border-style: none;
  background:#FFFFFF;
  padding:5px;
}

.listtable th {
  border-collapse:collapse;
  border:none;
  border-style: none;
  font: bold;
  color: #000;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: center;
  background-color: #FFFFFF;
  padding:5px;
}

.listtable td {
  border-collapse:collapse;
  border:none;
  border-style: none;
  color: #4b5460;
  text-align: left;
  padding:5px;
}

.listtable td p{
  border-collapse:collapse;
  border:none;
  border-style: none;
  color: #4b5460;
  text-align: left;
}

.ordertable {
  border-collapse:none;
  border:1px solid #345D97;
  border-style: solid;
  background:#FFFFFF;
}

.ordertable td{
  padding: 2px 2px 2px 2px;
}
.ordertable th{
  padding: 2px 2px 2px 2px;
}


.oldprice{
  color:#ff0000;
  text-decoration:line-through;
  font-size:15px;
}

.newprice{
  text-decoration:none;
  font-weight:bold;
}

.red {
  color:#FF0000;
}