html{
  height: 100%;
}

body{
  display: flex;

  min-height: 100%;
  flex-direction: column;
}



footer{
  display: flex;
  position: static;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: #a87e31;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer_1, .footer_2, .footer_3{
  margin-right: 5px;
  overflow-x: hidden;
}

.footer_1
{
 display:block;
 width:33%;
}

.footer_1 a:nth-of-type(2){
  display: block;
}

.footer_1 a{
  /* color: black; */
  color: rgb(80, 54, 7);
}

/* .footer_1 a::after{
  content: 'Ide valami paperclip';
} */

.footer_2
{
  display:flex;
  width:33%
}

.footer_2 span{
  transform: translate(2px, 2px);
}

.footer_3{
  align-items: center;
}
