* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}

html {
  scroll-behavior: smooth;
  background-color: #ecdcbb;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
  /* make scrollbar transparent */
}

body, html {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 76%;
  zoom: 1;
  line-height: 2.6rem;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 3px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

a:link {
  text-decoration: none;
  color: rgb(132, 96, 6);
  color: rgba(132, 96, 6, 0.8);
  font-weight: bold;
  background-color: inherit;
}

a:visited {
  text-decoration: none;
  color: rgb(132, 96, 6);
  color: rgba(132, 96, 6, 1.0);
  font-weight: bold;
  background-color: inherit;
}

a:active {
  color: rgb(132, 96, 6);
  color: rgba(132, 96, 6, 1.0);
}

p {
  font-size: 2rem;
  margin: 0;
  line-height: 2.4rem;
  /* text-indent: 30px; */
}

p+p {
  margin-top: 30px;
}

img {
  max-height: 65vh;
  width: auto;
}

::selection {
  background-color: rgb(218, 183, 95);
  background-color: rgba(218, 183, 95, 0.8);
}

img::selection {
  background-color: transparent;
}

::-moz-selection {
  background-color: rgb(218, 183, 95);
  background-color: rgba(218, 183, 95, 0.8);
}

blockquote {
    font-size: 1.9rem;
    font-style: italic;
    color: rgb(0 0 0 / 0.8);
    color: rgba(0, 0, 0, 0.8);
    background-color: rgb(218 183 95 / 0.65);
    padding: 20px;
    border-radius: 4px;
}

blockquote::before{
  content:'„';
  font-size: 3rem;
}

blockquote::after{
  content:'”';
  font-size: 3rem;
}

input[type=text] {
  transition: 1s;
}

input[type=text]:focus {
  background-color: #f1f1f1;
}
