.arrowButton {
  transition: all 0.35s ease-in-out;
  border: none;
  position: fixed;
  background-color: transparent;
  box-shadow: none;
  top: 50%;
  z-index: 200;
  border-radius: 10px;
}

.arrowNext{
  right: 3% !important;
}

.arrowPrev{
  left: 3% !important;
}

.arrowButton:focus {
  outline: none;
}

.arrowButton:hover {
  background-color: #ffffff;
  transform: rotateX(40deg);
}

.arrowButton img {
  width: 35px;
  height: auto;
}


@media screen and (max-width: 512px){

  .arrowNext{
    right: 0% !important;
  }

  .arrowPrev{
    left: 0% !important;
  }

}
