
@media screen and (max-width:1024px) {

}

@media screen and (max-width:1200px) {

  section{
    height: auto;
    max-height: auto;
  }

  /* .display_none{
    display: none;
  } */

  .pages{
    height: fit-content;
  }
}

@media screen and (max-width:1200px) {

/*FIRST PAGE START*/

  /* .titles{
    margin-top: 40px;
  } */

  .portre_container{
    margin: 0 40px;
  }

  .portre_wrapper{
    height: auto;
    margin-bottom: 50px;
  }

  .portre_wrapper p {
    display: block;
    opacity:1;
    animation: none !important;
    transition: none !important;
  }

  .portre_wrapper:hover p{
    opacity: 1;
  }

  .portre_wrapper img{
    height: 350px;
    width: 278px;
  }

  .portre_wrapper:hover img{
    opacity: 1;
  }

  .idezet{
    position: static;
    max-width: inherit;
    padding: 8px 8px;
    text-indent: 0;
  }

/************************** FIRST PAGE END ***********************/

/************************ SECOND PAGE START ************************/
  .vadirat_container img{
    margin: 20px;
    max-height: 65vh;
  }

  .vadirat_container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    max-height: none;
  }

  .vadirat_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: auto;
    max-height: none;
    margin: auto;
  }
}
/************************ SECOND PAGE END ************************/



@media (min-width: 1024px) and (max-width: 1276px){

}
