*{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}

/* Hide Scrollbars*/
html {
  scroll-behavior: smooth;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  background-color: #ecdcbb;
}

body, html {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 80%;
  zoom: 1;
  line-height: 2.6rem;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 3px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

a:link{
  text-decoration: none;
  color:inherit;
  background-color: inherit;
}

a:visited{
  color: inherit;
}
a:active{
  color: inherit;
}

p {
  font-size: 2rem;
  margin: 0;
  line-height: 2.4rem;
  text-indent: 20px;
}

p + p{
  margin-top: 30px;
}

img{
  max-height: 65vh;
  width:auto;
}

::selection {
  background-color: rgb(218, 183, 95);
  background-color: rgba(218, 183, 95, 0.8);
}

img::selection{
  background-color:transparent;
}

::-moz-selection {
  background-color: rgb(218, 183, 95);
  background-color: rgba(218, 183, 95, 0.8);
}

input[type=text]{
  transition: 1s;
}

input[type=text]:focus{
  background-color: #f1f1f1;
}






/***************** lOADING SCREEN *******************/
/* #loading_container{
  height: 100vh;
  width: 100vw;
  background-image: url(kepek/hatter/89120.jpg);
  background-size: cover;
  background-position: center;
} */

/* .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
} */

.loading{
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading h1{
  text-align: center;
  min-width: 400px;
  font-size: 5em;
}

.loading_animation{
  display: flex;
  position: relative;
  margin-top: 22px;
  margin-left: 10px;
}

.circle{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 2px;
  background-color: black;
  border-radius: 50%;
  animation: loading 0.8s ease-in-out infinite;
}

.circle-1{
  animation-delay: 0.1s;
}
.circle-2{
  animation-delay: 0.2s;
}
.circle-3{
  animation-delay: 0.3s;
}

.main_container{
  display: none;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
/************       TOP NAVIGATION  START     ********************/
/* POSITION AND STYLE THE NAVBAR */
.topnav {
  position: fixed;
  display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: rgb(218, 183, 95);
  background: rgba(218, 183, 95, 1.0);
  justify-content: center;
  color: #3e2200;
  z-index: 999;
  height: 60px;
}

/* POSITION AND STYLE THE NAVBAR LINKS */
.topnav a {
  display: flex;
  flex-wrap: wrap;
  color: #3e2200;
  padding: 5px 0 0 0;
  text-decoration: none;
  font-size: 1.8rem;
  text-shadow: 1px 1px 1px rgba(90, 51, 16, 0.3);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

/* ADD A PADDING TO ITEMS ON HOVER */

.topnav:hover .dropdown_content a {
  padding-bottom: 10px;
  line-height: 1.7rem;
}

.topnav button{
  outline:none;
}

.topnav button a {
  transition: all 0.5s ease-in-out;
}

.topnav button:hover a {
  color: #ae670f;
}

/************       DROPDOWN MENU  START        ********************/

/* Dropdown Button */
.dropdown {
  display: flex;
  position: relative;
  top:0;
  color: #3e2200;
}

.cancel_button,
.burger_menu{
  display:none;
}

.dropdown button {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 12px 12px;
  pointer-events: all;
  color: #3e2200;
}

.dropdown:hover button {
  color: #3e2200;
}

.topnav button a::after {
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #3e2200;
  margin: auto;
  top: 5px;
  left: 5px;
  transition: all 0.5s ease-in-out;
}

.topnav button:hover a::after{
  border-top-color: #ae670f;
}

/* DROPDOWN CONTENT (HIDDEN BY DEFAULT) */
.dropdown_content {
  visibility: hidden;
  width: 100%;
  position: absolute;
  top: 60px;
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* POSITION AND STYLE OF DROPDOWN LINKS */
.dropdown_content a {
  display: block;
  font-size: 1.7rem;
  color: #3e2200;
  padding: 0 0 2px 0;
  text-decoration: none;
}

/* POSITION THE DROPDOWN CONTENT DOWNWARDS */
.dropdown:hover .dropdown_content {
  opacity: 1;
  visibility: visible;
}

/* CHANGE THE COLOR OF LINKS ON HOVER */
.dropdown_content a:hover {
  background-color: #ddd;
}

.dropdown_content a a::after {
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #3e2200;
  margin: auto;
  top: 5px;
  left: 5px;
  transition: all 0.5s ease-in-out;
}

/************       DROPDOWN MENU   END       ********************/
/* STYLE THE SEARCH BAR */
.search_bar {
  font-family: 'Crimson Text', sans-serif;
  font-size: 1.4rem;
  margin: 15px 20px;
  padding-left: 10px;
  box-shadow: 3px 5px 5px #888888;
  min-width: 125px;
  max-height: 50px;
  border-radius: 5px;
  outline: none;
}

/* LANGUAGE SELECTION */
.language_flag {
  position: relative;
  width: 40px;
  height: 40px;
  margin: auto 0;
  top: 5px;
}

.language_selector{

}

.dropdown_content .language_selection{
  display: block;
  padding: 0 0 10px;
  font-size: 1.7rem;
  line-height: 1.7rem;
  width: 100%;
  color: #3e2200;
  text-shadow: 1px 1px 1px rgba(90, 51, 16, 0.3);
}

.dropdown_content .language_selection:hover{
  background-color: #ddd;
  cursor: pointer;
  pointer-events: all;
}





/* .topnav{
  display:none;
} */

/************       TOP NAVIGATION END       ********************/
/************** Page_container START **************/

section {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  /* background-image: url("kepek/hatter/paper_old.jpg");
  background-size: cover; */
}

section::after{
  content:'';
  background-image: url("kepek/hatter/paper_old.jpg");
  background-size: cover;
}

section h1{
  font-family: 'Crimson Text', serif;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.15), 2px 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.page_container{
  width: 80%;
  /* height: 80%; */
  margin: 0 auto;
}

.pages{
  background-color: #ecdcbb;
  width: 100vw;
}

.titles{
  margin-top: 100px;
}

.first_page{
  z-index: 100;
}

.second_page{
  z-index: 99;
}

.third_page{
  z-index: 98;
}

.fourth_page{
  z-index: 97;
}

.fifth_page{
  z-index: 96;
}

.sixth_page{
  z-index: 95;
}

/************** Page_container END **************/

/********** FIRST PAGE START *****************************/
/*   DIALOGIKUS ISKOLA CÍM       */

.tarek{
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 50px;
  transform: skewX(-5deg);
}

/************       SZL,TB KÉPEK START      ********************/

.szl_tb_container{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-start;
}

.portre_container{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.portre_wrapper{
  height: 350px;
  width: 278px;
}

.portre_wrapper p{
  display: none;
  line-height: 2.2rem;
  opacity:0;
  transition: opacity 1000ms ease-in-out;
}

.portre{
  border-radius: 10%;
}

.idezet_container{
  position: relative;
  height: inherit;
}

.idezet{
  position: absolute;
  max-width: 270px;
  padding: 8px 8px;
  top: 0;
  right: 5px;
  text-indent: 0;
}

.idezet::before, .idezet::after{
  content:'"';
}

.portre_wrapper:hover p{
  display: block;
  animation: fadeInFromNone 1000ms ease-in-out;
  animation-fill-mode: forwards;
}

.portre_wrapper img{
  opacity:1;
  transition: opacity 1000ms ease-in-out;
  height: 100%;
  width: 100%;
  min-height: 350px;
  min-width: 278px;
  box-shadow: 6px 6px 10px -4px black;
}

.portre_wrapper:hover img{
  opacity:0.4;
}

.person_name{
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 2.7rem;
  transition: 0.5s cubic-bezier(.21,1.15,1,.99);
}

.person_name:hover{
  transform: scale(1.05);
}

.person_title {
  font-family: 'Crimson Text', serif;
  text-align: center;
  margin-bottom: 10px;
}
/******************* FIRST PAGE END ***********************/

/****************     SECOND PAGE START         ********************/

.vadirat_container{
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: center;
  max-height: 80vh;
}

.vadirat_container img{
  margin: 0 20px;
  width:auto;
  align-self: flex-start;
}

.vadirat_wrapper {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width:70%;
  max-height: 80vh;
}

.vadirat_wrapper p{
  margin: 0 20px 20px;
}

/*********** JAVASCRIPT RENDERED ITEMS START ******************************/
.arrowButton {
  transition: all 0.35s ease-in-out;
  border: none;
  position: fixed;
  /* background-color: transparent; */
  box-shadow: none;
  top: 50%;
  z-index: 200;
  border-radius: 10px;
}

.arrowButton:focus{
  outline: none;
}

.arrowButton:hover {
  background-color: #ffffff;
  transform: rotateX(40deg);
}

.arrowButton img {
  width: 35px;
  height: auto;
}

/*********** JAVASCRIPT RENDERED ITEMS END ******************************/

/************       sixth_page  A Harmincas évek írásai END ***********************************/
/* MEDIA QUERIES */
/* @media screen and (max-width:1176px) {

  .topnav
  {
    display:none;
    align-items: center;
  }

} */
@media screen and (max-width:512px) {

  .loading_animation{
    margin-top: 0px;
    margin-left: 100px;
  }

  .loading{
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
  }

  .loading h1{
    text-align: inherit;
    min-width: unset;
    line-height: 0.95;
  }
}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:1200px) {

  section{
    height: auto;
    max-height: auto;
  }

  /* .display_none{
    display: none;
  } */

  .pages{
    height: fit-content;
  }

  .language_selector {

  }

  .language_flag {
    top: 12px;
  }

  .topnav{
    height: 100vh;
    display: none;
    text-align: center;
    overflow: hidden;

    background-image: url(../kepek/hatter/89120.jpg);
    background-position: center center;
    background-size: cover;
  }

  .dropdown {
    display: block;
    text-align: center;
    /* background-color: white; */
  }

  .cancel_button{
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    height: 80px;
    width: auto;
    transform: scale(0.6);
    background-color: transparent;
    border: none;
    outline:none;
    transition: all 300ms ease-in-out;
  }

  .cancel_button:hover{
    transform:scale(0.7);
  }

  .burger_menu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 101;
    height: 80px;
    width: auto;
    transform: scale(0.6);
    background-color: transparent;
    border: none;
    outline:none;
    transition: all 300ms ease-in-out;
    z-index: 100;
  }

  .burger_menu:hover{
    transform:scale(0.70);
  }

  .dropdown_content{
    z-index: 1;
    width: 60%;
    left: 21%;
    background-color: rgba(218, 183, 95, 1.0);
  }

  .search_bar_container{
    /* background-color: white; */
  }
  .search_bar{
    width:80%;
    max-width: 500px;
    background-color: white;
  }

/*FIRST PAGE START*/

  .titles{
    margin-top: 40px;
  }

  .portre_container{
    margin: 0 40px;
  }

  .portre_wrapper{
    height: auto;
    margin-bottom: 50px;
  }

  .portre_wrapper p {
    display: block;
    opacity:1;
    animation: none !important;
    transition: none !important;
  }

  .portre_wrapper:hover p{
    opacity: 1;
  }

  .portre_wrapper img{
    height: 350px;
    width: 278px;
  }

  .portre_wrapper:hover img{
    opacity: 1;
  }

  .idezet{
    position: static;
    max-width: inherit;
    padding: 8px 8px;
    text-indent: 0;
  }

/************************** FIRST PAGE END ***********************/

/************************ SECOND PAGE START ************************/
  .vadirat_container img{
    margin: 20px;
    max-height: 65vh;
  }

  .vadirat_container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    max-height: none;
  }

  .vadirat_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: auto;
    max-height: none;
    margin: auto;
  }

/************************ SECOND PAGE END ************************/

}

@media (min-width: 1024px) and (max-width: 1276px){

}
