@import './general.css';

:root{
  /* --main-bg-image: url('/kepek/hatter/89120.jpg'); */
}

.main_container{
  scroll-behavior: auto;
}

.main_container::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: var(--main-bg-image); */
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
}

section {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  min-width: 300px;
  /* background-image: url("kepek/hatter/paper_old.jpg");
  background-size: cover; */
}

section::after{
  content:'';
  background-image: url("/kepek/hatter/89120.jpg");
  background-size: cover;
}

section h1{
  font-family: 'Crimson Text', serif;
  font-size: 3.5rem;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.15), 2px 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  line-height: 1em;
}

section p:last-of-type:not(.idezet){
  margin-bottom: 30px;
}

.page_container{
  width: 70%;
  margin: 0 auto;
}

.pages{
  background-color: #ecdcbb;
  width: 100vw;
}

.titles{
  margin-top: 100px;
}

.first_page{
  z-index: 100;
}

.second_page{
  z-index: 99;
}

.third_page{
  z-index: 98;
}

.fourth_page{
  z-index: 97;
}

.fifth_page{
  z-index: 96;
}

.sixth_page{
  z-index: 95;
}

/************** Page_container END **************/

/********** FIRST PAGE START *****************************/

.tarek{
  font-family: 'Playfair Display', serif;
  font-size: 3.2em;
  text-align: center;
  margin-bottom: 50px;
  transform: skewX(-5deg);
}

.talalkozas{
  font-family: 'Playfair Display', serif;
  font-size: 2.8em;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 80px;
}

/************       SZL,TB KÉPEK START      ********************/

.szl_tb_container{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-start;
}

.portre_container{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.portre_wrapper{
  height: 350px;
  width: 278px;
}

.portre_wrapper p{
  display: none;
  line-height: 2.2rem;
  opacity:0;
  transition: opacity 1000ms ease-in-out;
}

.portre{
  border-radius: 10%;
}

.idezet_container{
  position: relative;
  height: inherit;
}

.idezet{
  position: absolute;
  max-width: 270px;
  padding: 8px 8px;
  top: 0;
  right: 0;
}

.idezet::before{
  content:'„';
}

.idezet::after{
  content:'”';
}

.portre_wrapper:hover p{
  display: block;
  animation: fadeInFromNone 800ms ease-in-out;
  animation-fill-mode: forwards;
}

.portre_wrapper img{
  opacity:1;
  transition: opacity 800ms ease-in-out;
  height: 100%;
  width: 100%;
  min-height: 350px;
  min-width: 278px;
  box-shadow: 6px 6px 10px -4px black;
}

.portre_wrapper:hover img{
  opacity: 0.2;
}

.person_name{
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 2.7rem;
  transition: 0.5s cubic-bezier(.21,1.15,1,.99);
}

.person_name a{
  color: inherit;
}

.person_name:hover{
  transform: scale(1.05);
}

.person_title {
  font-family: 'Crimson Text', serif;
  text-align: center;
  margin-bottom: 10px;
}
/******************* FIRST PAGE END ***********************/

/****************     SECOND PAGE START         ********************/

.vadirat_container{
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: center;
  max-height: 80vh;
}

.vadirat_container img {
    margin: 20px;
    height: 430px;
    width: auto;
}

.vadirat_wrapper {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width:70%;
  max-height: 80vh;
}

.vadirat_wrapper p{
  margin: 0 20px 20px;
}


@media screen and (max-width:1024px) {

}

@media screen and (max-width:1200px) {

  section{
    height: auto;
    max-height: auto;
  }

  .pages{
    height: fit-content;
  }
}

@media screen and (max-width:1200px) {

/*FIRST PAGE START*/

  .portre_container{
    margin: 0 40px;
  }

  .portre_wrapper{
    height: auto;
    margin-bottom: 50px;
  }

  .portre_wrapper p {
    display: block;
    opacity:1;
    animation: none !important;
    transition: none !important;
  }

  .portre_wrapper:hover p{
    opacity: 1;
  }

  .portre_wrapper img{
    height: 350px;
    width: 278px;
  }

  .portre_wrapper:hover img{
    opacity: 1;
  }

  .idezet{
    position: static;
    max-width: inherit;
    padding: 8px 8px;
    text-indent: 0;
  }

/************************** FIRST PAGE END ***********************/

/************************ SECOND PAGE START ************************/
  .vadirat_container img{
    margin: 20px;
    max-height: 65vh;
  }

  .vadirat_container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    max-height: none;
  }

  .vadirat_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: auto;
    max-height: none;
    margin: auto;
  }
}
/************************ SECOND PAGE END ************************/



@media (min-width: 1024px) and (max-width: 1276px){

}
